<!--header-->
<ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">Welcome</h1>
</ion-header-bar>

<!--content-->
<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Last Name">
        </label>
        <label>
            <li class="item item-checkbox">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
                Remember me
            </li>
        </label>
    </div>
    <div class="padding">
        <button class="button button-block button-balanced">
            Login CloudSlides
        </button>
    </div>






</ion-content>

<!--footer-->
<ion-footer-bar align-title="center" class="bar-positive">
    <h1 class="title" ng-click="lala()">Signup an account?</h1>

</ion-footer-bar>