<ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">

            <button class="button button-icon" ng-click="toggleLeftSideMenu()">
                <i class="icon ion-navicon-round"></i>
            </button>
            <h1 class="title">CloudSlides云幻灯</h1>

        </ion-header-bar>
        <ion-content class="stable-bg ">
            <!--<div class="card">-->
            <!--<div class="item">-->
            <!--<div class="row">-->
            <!--<div class="col-25">-->
            <!--<img src="images/notebook-icon.png">-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--<h2>Pretty Hate Machine</h2>-->
            <!--<p>Nine Inch Nails</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<p>hihi</p>-->
            <div class="list list-inset ">
                <a class="item item-icon-right">
                    <i class="icon ion-ios7-person-outline"></i>
                    Hi, Simon !
                </a>
            </div>
            <!--<div class="list card">-->

            <!--<a href="#" class="item item-icon-left">-->
            <!--<i class="icon ion-home"></i>-->
            <!--Enter home address-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="list card">-->

            <div class="card">
                <a class="item item-thumbnail-left assertive" href="#">
                    <img src="images/notebook-icon.png">

                    我的幻灯

                    <p>我有13个PPT可发起会议</p>
                </a>
            </div>
            <div class="card">
                <a class="item item-thumbnail-left positive" href="#">
                    <img src="images/cloud-icon.png">

                    主持会议

                    <p>我主持控制13个会议</p>
                </a>
            </div>
            <div class="card">
                <a class="item item-thumbnail-left balanced" href="#">
                    <img src="images/tea-time-icon.png">

                    观看会议

                    <p>我加入观看25个会议</p>
                </a>
            </div>

            <!--<div class="item item-divider">-->
            <!--</div>-->

            <!--</div>-->
            <div class="card">
                <div class="item tabs tabs-icon-left">
                    <a class="tab-item" href="#">
                        <i class="icon ion-thumbsup"></i>
                        支持我们
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-chatbox"></i>
                        建议反馈
                    </a>
                    <a class="tab-item" href="#">
                        <i class="icon ion-share"></i>
                        告诉朋友
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-royal">
            <h1 class="title">Projects</h1>
        </ion-header-bar>
        <ion-content class="stable-bg">
            <div class="list">
                <div class="list-item">
                    <h2>hehe</h2>
                </div>
                <div class="list-item">
                    <h2>hehe</h2>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>