<ion-side-menus>

    <!-- Center content -->
    <ion-side-menu-content>
        <ion-header-bar class="bar-positive">

            <button class="button button-icon" ng-click="toggleLeftSideMenu()">
                <i class="icon ion-navicon-round"></i>
            </button>
            <h1 class="title">CloudSlides云幻灯</h1>

        </ion-header-bar>
        <ion-content>
            <!--<div class="card">-->
            <!--<div class="item">-->
            <!--<div class="row">-->
            <!--<div class="col-25">-->
            <!--<img src="images/notebook-icon.png">-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--<h2>Pretty Hate Machine</h2>-->
            <!--<p>Nine Inch Nails</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="list">
                <div class="card">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="images/notebook-icon.png">

                        <h2>我的PPT</h2>

                        <p>有13个PPT可发起会议</p>
                    </a>
                </div>
                <div class="card">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="images/cloud-icon.png">

                        <h1>主持幻灯会议</h1>

                        <p>发起主持13个会议</p>
                    </a>
                </div>
                <div class="card">
                    <a class="item item-thumbnail-left" href="#">
                        <img src="images/tea-time-icon.png">

                        <h1>观看幻灯会议</h1>

                        <p>加入观看了25个会议</p>
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-balanced">
            <h1 class="title">Projects</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <div class="list-item">
                    <h2>hehe</h2>
                </div>
                <div class="list-item">
                    <h2>hehe</h2>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>