<!--<ion-header-bar class="bar-positive">-->
<!--<h1 class="title">我的幻灯</h1>-->
<!--</ion-header-bar>-->
<!--<ion-content>-->
<ion-view title="幻灯详情">
    <ion-content ng-controller="PptDetailCtrl">
        <div class="list">
            <div class="item item-divider">
                幻灯名称
            </div>
            <div class="item item-text-wrap">
                {{ppt.filename}}
            </div>

            <div class="item item-divider">
                转换状态
            </div>
            <div class="item item-text-wrap">
                共{{ppt.pageCount}}页 - 已转换
            </div>

            <div class="item item-divider">
                上传时间
            </div>
            <div class="item item-text-wrap item-">
                {{ppt.uploadTime}}
            </div>

            <div class="item">
                <img src="http://ionicframework.com/img/docs/delorean.jpg" class="full-image"/>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-chevron-left"></i>

                </a>
                <a class="tab-item" href="#">
                    2 / {{ppt.pageCount}}
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chevron-right"></i>

                </a>
            </div>
        </div>


    </ion-content>
</ion-view>