<!--header-->
<ion-header-bar align-title="center" class="bar-stable">
    <h1 class="title">Signup</h1>
</ion-header-bar>

<!--content-->
<ion-content>
    <div class="list list-inset">
        <label class="item item-input">
            <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Confirm Password">
        </label>
    </div>

    <div class="padding">
        <button class="button button-block button-positive">
            Sign up
        </button>

        <button class="button button-block button-clear button-balanced" ng-click="jumpTo('/login')">
            Wanna Log In ?
        </button>
    </div>


</ion-content>